.side-bar-container {
  position: sticky;
  top: 0;
  left: 0;

  flex: 1;
  min-width: 260px;
  min-height: 100vh;

  z-index: 1;

  background-color: #071955;

  @media screen and (max-width: 900px) {
    display: none;
  }

  .side-bar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 12px;

    // border-bottom: 1px solid #ccc;

    h1 {
      margin: 0;
      padding: 0;

      color: #eaeaea;

      &:first-child {
        margin: 12px;
        margin-bottom: 0;

        font-size: 36px;
      }

      & + h1 {
        margin: 12px;
        margin-top: 0;

        font-size: 28px;
      }
    }
  }

  .side-bar-content {
    margin: 14px;

    h2 {
      margin-bottom: 10px;

      font-weight: 700;
      color: #dfdfdf;
    }

    li {
      margin: 4px 10px 10px 20px;
      padding: 2px 8px;

      font-size: 22px;
      font-weight: 400;
      color: #dfdfdf;

      background-color: rgba($color: #000000, $alpha: 0);

      border-radius: 6px;

      transition: background-color color 1.2s;

      &.focus-item {
        color: #ffeaa7;
        font-weight: 600;
        transition: color 1.2s;
      }

      &:hover {
        background-color: rgb(66, 102, 149);

        transition: background-color 0.4s;
      }
    }
  }
}

.btn-to-top {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;

  height: 64px;
  width: 64px;

  border-radius: 50%;
  border: none;

  background-color: #071955;
  transition: background-color 0.3s;

  color: #eaeaea;
  font-size: 24px;

  @media screen and (min-width: 901px) {
    display: none;
  }

  &:hover {
    background-color: rgba(7, 25, 85, 0.55);
    transition: background-color 0.3s;
  }
}
