.side-bar-container {
  position: sticky;
  top: 0;
  left: 0;

  flex: 1;
  min-width: 240px;
  min-height: 100vh;

  background-color: rgba(108, 225, 191, 0.3);

  @media screen and (max-width: 768px) {
    display: none;
  }

  .side-bar-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    margin-top: 12px;

    // border-bottom: 1px solid #ccc;

    h1 {
      margin: 0;
      padding: 0;

      color: #666;

      &:first-child {
        margin: 12px;
        margin-bottom: 0;

        font-size: 36px;
      }

      & + h1 {
        margin: 12px;
        margin-top: 0;

        font-size: 28px;
      }
    }
  }

  .side-bar-content {
    margin: 14px;

    h2 {
      margin-bottom: 10px;
      font-weight: 500;
    }

    li {
      margin: 4px 8px;

      font-size: 22px;
      font-weight: 400;
      color: #999;

      transition: color 1.2s;

      &.focus-item {
        color: #098868;
        font-weight: 600;
        transition: color 1.2s;
      }
    }
  }
}
