# npm
node_modules/

# dev
src
.gitignore
rollup.config.js
tsconfig.json

#build
!build/ScrollAnimation/utils/constants.d.ts
!build/ScrollAnimation/utils/constants.js
!build/ScrollAnimation/utils/functions.d.ts
!build/ScrollAnimation/utils/functions.js
!build/ScrollAnimation/index.d.ts
!build/ScrollAnimation/index.js
!build/ScrollAnimation/components/ScrollAnimationItem.d.ts
!build/ScrollAnimation/components/ScrollAnimationItem.js

# GIT
.git